@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

.hide-scroll-bar {
  scrollbar-width:none;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.mapboxgl-popup {
  max-width: fit-content;
}
.mapboxgl-popup-content {
  width:fit-content;
  background: transparent!important;
}
.mapboxgl-popup-content > div {
  display:flex;
  flex-direction: column;
  gap:16px;
  width: 317px;
  border-radius: 10px;
  padding:10px;
  transition:all;
  transition-duration: 200ms;
  background-color:white
}

.mapboxgl-popup-close-button {
  font-size: 20px;
  background: white!important;
  border-radius: 50px!important;
  width:30px;
  height:30px
}